{
  "Serilog": {
    "Using": [ "Serilog.Sinks.Console", "Serilog.Sinks.File" ],
    "MinimumLevel": {
      "Default": "Verbose",
      "Microsoft": "Warning"
    },
    "WriteTo": [
      { "Name": "Console" }
    ]
  },
  "DatabaseOptions": {
    "Host": "127.0.0.1",
    "Port": 3306,
    "Username": "root",
    "Password": "password",
    "Database": "sadie"
  },
  "NetworkOptions": {
    "Host": "0.0.0.0",
    "Port": "2096",
    "UseWss": false,
    "CertificateFile": "",
    "PacketOptions": {
      "BufferByteSize": 4024,
      "FrameLengthByteCount": 4
    }
  }
}