{
  "Serilog": {
    "Using":  [ "Serilog.Sinks.Console", "Serilog.Sinks.File" ],
    "MinimumLevel": {
      "Default": "Verbose",
      "Microsoft": "Warning"
    },
    "WriteTo": [
      { "Name": "Console" }
    ]
  },
  "ConnectionStrings": {
    "Default": "Server=127.0.0.1;Database=sadie;Uid=root;Pwd=;"
  },
  "Networking": {
    "Host": "0.0.0.0",
    "Port": "2096",
    "UseWss": false,
    "CertificateFile": ""
  },
  "Constants": {
    "Networking": {
      "BufferByteSize": 4024,
      "FrameLengthByteCount": 4
    }
  }
}